In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:Jireh56!!@localhost:3306/md_water_services

## View what is in the database

In [3]:
%sql show tables

 * mysql+pymysql://root:***@localhost:3306/md_water_services
9 rows affected.

[('auditor_report',),
 ('data_dictionary',),
 ('employee',),
 ('global_water_access',),
 ('location',),
 ('visits',),
 ('water_quality',),
 ('water_source',),
 ('well_pollution',)]

In [5]:
%%sql
SELECT * 
FROM md_water_services.auditor_report
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoRu34980', 'well', 1, "Residents admired the official's commitment to enhancing urban life, praising their cooperative and inclusive approach."),
 ('AkRu08112', 'well', 3, "Villagers spoke highly of the official's dedication and genuine interest in their lives, fostering a sense of belonging and appreciation."),
 ('AkLu02044', 'river', 0, "Villagers were touched by the official's interactions, noting their humility, strong work ethic, and respectful attitude."),
 ('AkHa00421', 'well', 3, "Villagers were moved by the official's visit, praising their hard work, humility, and the profound sense of connection they fostered."),
 ('SoRu35221', 'river', 0, "A photographer's lens captures the queue, though his own struggle for water is a hidden part of the story.")]

## So first, grab the location_id and true_water_source_score columns from auditor_report

In [31]:
%%sql
SELECT location_id,true_water_source_score
FROM md_water_services.auditor_report
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoRu34980', 1),
 ('AkRu08112', 3),
 ('AkLu02044', 0),
 ('AkHa00421', 3),
 ('SoRu35221', 0)]

## Now, we join the visits table to the auditor_report table. Make sure to grab subjective_quality_score, record_id and location_id.

In [36]:
%%sql
SELECT 
    a.location_id as Auditlocation,
    a.true_water_source_score,
    v.location_id as visits,
    v.record_id
FROM md_water_services.auditor_report as  a
LEFT JOIN md_water_services.visits AS v
    ON a.location_id = v.location_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185),
 ('AkRu08112', 3, 'AkRu08112', 59367),
 ('AkLu02044', 0, 'AkLu02044', 37379),
 ('AkHa00421', 3, 'AkHa00421', 51627),
 ('SoRu35221', 0, 'SoRu35221', 28758),
 ('HaAm16170', 1, 'HaAm16170', 31048),
 ('AkRu04812', 3, 'AkRu04812', 1513),
 ('AkRu08304', 3, 'AkRu08304', 1218),
 ('AkRu05107', 2, 'AkRu05107', 8322),
 ('AkRu05215', 3, 'AkRu05215', 21160)]

In [41]:
%%sql SELECT * FROM Visits
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(0, 'SoIl32582', 'SoIl32582224', datetime.datetime(2021, 1, 1, 9, 10), 1, 15, 12),
 (1, 'KiRu28935', 'KiRu28935224', datetime.datetime(2021, 1, 1, 9, 17), 1, 0, 46),
 (2, 'HaRu19752', 'HaRu19752224', datetime.datetime(2021, 1, 1, 9, 36), 1, 62, 40),
 (3, 'AkLu01628', 'AkLu01628224', datetime.datetime(2021, 1, 1, 9, 53), 1, 0, 1),
 (4, 'AkRu03357', 'AkRu03357224', datetime.datetime(2021, 1, 1, 10, 11), 1, 28, 14)]

Now that we have the record_id for each location, our next step is to retrieve the corresponding scores from the water_quality table. We
are particularly interested in the subjective_quality_score. To do this, we'll JOIN the visits table and the water_quality table, using the
record_id as the connecting key.

In [39]:
%%sql
SELECT 
    a.location_id AS AuditLocation,
    a.true_water_source_score,
    v.location_id AS VisitsLocation,
    v.record_id,
    wq.subjective_quality_score
FROM md_water_services.auditor_report AS a
LEFT JOIN md_water_services.visits AS v
    ON a.location_id = v.location_id
JOIN md_water_services.water_quality AS wq
    ON v.record_id = wq.record_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185, 1),
 ('AkRu08112', 3, 'AkRu08112', 59367, 3),
 ('AkLu02044', 0, 'AkLu02044', 37379, 0),
 ('AkHa00421', 3, 'AkHa00421', 51627, 3),
 ('SoRu35221', 0, 'SoRu35221', 28758, 0),
 ('HaAm16170', 1, 'HaAm16170', 31048, 1),
 ('AkRu04812', 3, 'AkRu04812', 1513, 3),
 ('AkRu08304', 3, 'AkRu08304', 1218, 3),
 ('AkRu05107', 2, 'AkRu05107', 8322, 2),
 ('AkRu05215', 3, 'AkRu05215', 21160, 10)]

We now drop some duplicate column and rename subjective quality score to surveyor_score and auditor_score to make it clear which score we're looking at in the results set.

In [43]:
%%sql
SELECT 
    a.location_id AS AuditLocation,
    a.true_water_source_score as auditor_score,
    v.location_id AS VisitsLocation,
    v.record_id,
    wq.subjective_quality_score as surveyor_score
FROM md_water_services.auditor_report AS a
LEFT JOIN md_water_services.visits AS v
    ON a.location_id = v.location_id
JOIN md_water_services.water_quality AS wq
    ON v.record_id = wq.record_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185, 1),
 ('AkRu08112', 3, 'AkRu08112', 59367, 3),
 ('AkLu02044', 0, 'AkLu02044', 37379, 0),
 ('AkHa00421', 3, 'AkHa00421', 51627, 3),
 ('SoRu35221', 0, 'SoRu35221', 28758, 0),
 ('HaAm16170', 1, 'HaAm16170', 31048, 1),
 ('AkRu04812', 3, 'AkRu04812', 1513, 3),
 ('AkRu08304', 3, 'AkRu08304', 1218, 3),
 ('AkRu05107', 2, 'AkRu05107', 8322, 2),
 ('AkRu05215', 3, 'AkRu05215', 21160, 10)]

Since were joining 1620 rows of data, we want to keep track of the number of rows we get each time we run a query. We can either set the
maximum number of rows we want from "Limit to 1000 rows" to a larger number like 10000, or we can force SQL to give us all of the results, using
LIMIT 10000.

### The first approcah is for row count

In [46]:
%%sql
SELECT COUNT(*) AS total_rows
FROM md_water_services.auditor_report AS a
LEFT JOIN md_water_services.visits AS v
    ON a.location_id = v.location_id
LEFT JOIN md_water_services.water_quality AS wq
    ON v.record_id = wq.record_id;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(2698,)]

In [86]:
%%sql
SELECT 
    a.location_id AS AuditLocation,
    a.true_water_source_score AS auditor_score,
    v.location_id AS VisitsLocation,
    v.record_id,
    wq.subjective_quality_score AS surveyor_score
FROM md_water_services.auditor_report AS a
LEFT JOIN md_water_services.visits AS v
       ON a.location_id = v.location_id
JOIN md_water_services.water_quality AS wq
       ON v.record_id = wq.record_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185, 1),
 ('AkRu08112', 3, 'AkRu08112', 59367, 3),
 ('AkLu02044', 0, 'AkLu02044', 37379, 0),
 ('AkHa00421', 3, 'AkHa00421', 51627, 3),
 ('SoRu35221', 0, 'SoRu35221', 28758, 0),
 ('HaAm16170', 1, 'HaAm16170', 31048, 1),
 ('AkRu04812', 3, 'AkRu04812', 1513, 3),
 ('AkRu08304', 3, 'AkRu08304', 1218, 3),
 ('AkRu05107', 2, 'AkRu05107', 8322, 2),
 ('AkRu05215', 3, 'AkRu05215', 21160, 10)]

You got 2698 rows right? Some of the locations were visited multiple times, so these records are duplicated here. To fix it, we set visits.visit_count
= 1 in the WHERE clause. Make sure you reference the alias you used for visits in the join.

In [59]:
%%sql
SELECT 
    a.location_id AS AuditLocation,
    a.true_water_source_score AS auditor_score,
    v.location_id AS VisitsLocation,
    v.record_id,
    wq.subjective_quality_score AS surveyor_score
FROM md_water_services.auditor_report AS a
JOIN md_water_services.visits AS v
       ON a.location_id = v.location_id
JOIN md_water_services.water_quality AS wq
       ON v.record_id = wq.record_id
WHERE v.visit_count = 1
LIMIT 10000;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1620 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185, 1),
 ('AkRu08112', 3, 'AkRu08112', 59367, 3),
 ('AkLu02044', 0, 'AkLu02044', 37379, 0),
 ('AkHa00421', 3, 'AkHa00421', 51627, 3),
 ('SoRu35221', 0, 'SoRu35221', 28758, 0),
 ('HaAm16170', 1, 'HaAm16170', 31048, 1),
 ('AkRu04812', 3, 'AkRu04812', 1513, 3),
 ('AkRu08304', 3, 'AkRu08304', 1218, 3),
 ('AkRu05107', 2, 'AkRu05107', 8322, 2),
 ('AkRu05215', 3, 'AkRu05215', 21160, 10),
 ('HaDe16541', 2, 'HaDe16541', 13070, 2),
 ('KiRu30351', 9, 'KiRu30351', 54220, 9),
 ('AmAm09813', 4, 'AmAm09813', 191, 4),
 ('SoRu37005', 0, 'SoRu37005', 51172, 0),
 ('KiRu26067', 3, 'KiRu26067', 21010, 3),
 ('SoRu37100', 0, 'SoRu37100', 40276, 0),
 ('AmDa11611', 1, 'AmDa11611', 38071, 1),
 ('KiRu29290', 3, 'KiRu29290', 7938, 10),
 ('AkRu07801', 3, 'AkRu07801', 25278, 3),
 ('KiZu31015', 3, 'KiZu31015', 47319, 3),
 ('KiIs24026', 2, 'KiIs24026', 2942, 2),
 ('AkRu08480', 2, 'AkRu08480', 47118, 2),
 ('AmBe11043', 3, 'AmBe11043', 53502, 3),
 ('AmRu13718', 9, 'AmRu13718', 31092, 9),
 ('AmRu15209', 3, 'AmRu15209', 42546, 3),
 ('SoRu37428', 3, 'SoRu37428', 25748, 3),
 ('SoRu34787', 2, 'SoRu34787', 30989, 2),
 ('AkRu03204', 3, 'AkRu03204', 36239, 3),
 ('SoMa34137', 3, 'SoMa34137', 4657, 3),
 ('SoRu38874', 3, 'SoRu38874', 17601, 3),
 ('KiMr24320', 2, 'KiMr24320', 9219, 2),
 ('AkRu06460', 2, 'AkRu06460', 42913, 2),
 ('KiHa22748', 9, 'KiHa22748', 43140, 10),
 ('KiRu28673', 1, 'KiRu28673', 57339, 1),
 ('AkHa00193', 9, 'AkHa00193', 25090, 9),
 ('AmAs10732', 0, 'AmAs10732', 53977, 0),
 ('KiRu27585', 3, 'KiRu27585', 2193, 3),
 ('AkRu03541', 2, 'AkRu03541', 23766, 2),
 ('AkRu04448', 3, 'AkRu04448', 55253, 3),
 ('HaRu20155', 0, 'HaRu20155', 56131, 0),
 ('AmAm09990', 5, 'AmAm09990', 3820, 5),
 ('KiZu31024', 0, 'KiZu31024', 53881, 0),
 ('SoIl32392', 3, 'SoIl32392', 2825, 3),
 ('SoRu38699', 3, 'SoRu38699', 13821, 3),
 ('KiAm22079', 9, 'KiAm22079', 50732, 9),
 ('KiRu26316', 3, 'KiRu26316', 27240, 3),
 ('AkKi01456', 9, 'AkKi01456', 57050, 9),
 ('AkRu08152', 2, 'AkRu08152', 43992, 2),
 ('KiRu27444', 7, 'KiRu27444', 18928, 7),
 ('HaRu20693', 1, 'HaRu20693', 55091, 1),
 ('AkRu04981', 3, 'AkRu04981', 8803, 3),
 ('KiRu28580', 1, 'KiRu28580', 14177, 1),
 ('KiRu30008', 1, 'KiRu30008', 25914, 1),
 ('SoMa34631', 2, 'SoMa34631', 55851, 2),
 ('SoKo33227', 1, 'SoKo33227', 31236, 1),
 ('AmRu14465', 3, 'AmRu14465', 23398, 3),
 ('AkHa00008', 3, 'AkHa00008', 57788, 3),
 ('HaRu19826', 9, 'HaRu19826', 55626, 9),
 ('AmDa11947', 1, 'AmDa11947', 23857, 1),
 ('AmPw12680', 3, 'AmPw12680', 45472, 3),
 ('SoRu37841', 6, 'SoRu37841', 18495, 10),
 ('KiRu27884', 1, 'KiRu27884', 33931, 10),
 ('HaDe16514', 1, 'HaDe16514', 42469, 1),
 ('KiMr24591', 0, 'KiMr24591', 44892, 0),
 ('KiIs24014', 1, 'KiIs24014', 36889, 1),
 ('AkRu07523', 3, 'AkRu07523', 22404, 3),
 ('KiZu31170', 9, 'KiZu31170', 17950, 10),
 ('AkRu04753', 9, 'AkRu04753', 55958, 9),
 ('SoRu36774', 2, 'SoRu36774', 35173, 2),
 ('SoRu36239', 2, 'SoRu36239', 43524, 2),
 ('KiRu27776', 3, 'KiRu27776', 23770, 3),
 ('AkRu03164', 3, 'AkRu03164', 42866, 3),
 ('AkRu05809', 2, 'AkRu05809', 8004, 2),
 ('KiRu28632', 5, 'KiRu28632', 32143, 5),
 ('KiRu30389', 4, 'KiRu30389', 17755, 4),
 ('AkKi01375', 3, 'AkKi01375', 40201, 3),
 ('SoRu37530', 0, 'SoRu37530', 55624, 0),
 ('AmBe10959', 4, 'AmBe10959', 23719, 4),
 ('HaRu19828', 2, 'HaRu19828', 25621, 2),
 ('SoIl32999', 2, 'SoIl32999', 32992, 2),
 ('HaRu18571', 2, 'HaRu18571', 56000, 2),
 ('AkRu08666', 6, 'AkRu08666', 56276, 6),
 ('AkRu03306', 7, 'AkRu03306', 29135, 7),
 ('AkRu08936', 3, 'AkRu08936', 132, 3),
 ('HaSe21341', 3, 'HaSe21341', 59324, 3),
 ('SoRu35327', 1, 'SoRu35327', 59821, 1),
 ('AmRu14903', 9, 'AmRu14903', 54574, 9),
 ('AmAb09101', 6, 'AmAb09101', 10635, 6),
 ('KiAm22276', 0, 'KiAm22276', 15269, 0),
 ('HaRu20617', 1, 'HaRu20617', 18740, 1),
 ('KiZu31370', 3, 'KiZu31370', 36864, 10),
 ('HaRu18217', 1, 'HaRu18217', 58386, 1),
 ('KiRu29806', 9, 'KiRu29806', 35488, 9),
 ('KiRu28057', 1, 'KiRu28057', 25822, 1),
 ('AkRu06170', 3, 'AkRu06170', 16253, 3),
 ('AkRu03380', 3, 'AkRu03380', 45718, 3),
 ('KiRu26678', 2, 'KiRu26678', 17842, 2),
 ('AmBe10942', 9, 'AmBe10942', 23182, 9),
 ('KiIs23730', 3, 'KiIs23730', 59182, 3),
 ('KiHa23034', 3, 'KiHa23034', 39514, 3),
 ('AkRu06495', 2, 'AkRu06495', 45924, 10),
 ('HaRu17528', 1, 'HaRu17528', 30524, 10),
 ('KiRu28090', 6, 'KiRu28090', 493, 6),
 ('AmRu13729', 2, 'AmRu13729', 12421, 2),
 ('HaRu18016', 1, 'HaRu18016', 43421, 1),
 ('KiRu27440', 9, 'KiRu27440', 46897, 9),
 ('HaYa21606', 3, 'HaYa21606', 54414, 3),
 ('HaRu17207', 1, 'HaRu17207', 41291, 1),
 ('AmAm09735', 1, 'AmAm09735', 19578, 1),
 ('HaRu20534', 2, 'HaRu20534', 36976, 2),
 ('SoRu38331', 3, 'SoRu38331', 13192, 10),
 ('AmPw12770', 3, 'AmPw12770', 57820, 3),
 ('AkLu02096', 3, 'AkLu02096', 46932, 3),
 ('HaRu20434', 2, 'HaRu20434', 26351, 2),
 ('AkRu02688', 0, 'AkRu02688', 28038, 0),
 ('AmBe11285', 9, 'AmBe11285', 30594, 9),
 ('AmRu13720', 3, 'AmRu13720', 57704, 3),
 ('SoMa33819', 0, 'SoMa33819', 41990, 0),
 ('SoRu38119', 1, 'SoRu38119', 32719, 1),
 ('AmRu12983', 3, 'AmRu12983', 34259, 3),
 ('SoRu35906', 5, 'SoRu35906', 23263, 5),
 ('KiRu27742', 3, 'KiRu27742', 20199, 3),
 ('SoRu35991', 3, 'SoRu35991', 49145, 3),
 ('KiRu28083', 4, 'KiRu28083', 28642, 4),
 ('AmRu15159', 9, 'AmRu15159', 3238, 9),
 ('HaYa21456', 2, 'HaYa21456', 31258, 2),
 ('HaRu18734', 2, 'HaRu18734', 9967, 2),
 ('SoRu35970', 3, 'SoRu35970', 49787, 3),
 ('AmAs10285', 3, 'AmAs10285', 35054, 3),
 ('AmRu15556', 9, 'AmRu15556', 15461, 10),
 ('KiZu31223', 3, 'KiZu31223', 45820, 3),
 ('SoRu38546', 9, 'SoRu38546', 31987, 9),
 ('AmPw12293', 6, 'AmPw12293', 43323, 6),
 ('SoRu39488', 3, 'SoRu39488', 778, 3),
 ('SoRu39408', 5, 'SoRu39408', 9997, 5),
 ('HaRu17750', 2, 'HaRu17750', 55863, 2),
 ('AmAm09607', 9, 'AmAm09607', 55067, 10),
 ('KiRu30604', 0, 'KiRu30604', 38650, 0),
 ('KiZu30905', 9, 'KiZu30905', 38879, 9),
 ('SoRu39374', 9, 'SoRu39374', 12919, 9),
 ('AkHa00314', 9, 'AkHa00314', 29407, 10),
 ('SoRu37406', 2, 'SoRu37406', 36882, 2),
 ('AkRu05212', 9, 'AkRu05212', 41421, 9),
 ('SoIl32294', 0, 'SoIl32294', 58139, 0),
 ('AmBe11313', 0, 'AmBe11313', 12271, 0),
 ('SoRu35426', 3, 'SoRu35426', 12319, 3),
 ('AkHa00073', 3, 'AkHa00073', 13554, 3),
 ('SoRu35899', 9, 'SoRu35899', 10054, 9),
 ('KiRu26664', 2, 'KiRu26664', 30561, 2),
 ('SoRu36580', 3, 'SoRu36580', 15465, 3),
 ('KiRu26598', 9, 'KiRu26598', 28874, 10),
 ('AkLu02432', 2, 'AkLu02432', 56526, 2),
 ('HaRu19287', 5, 'HaRu19287', 54666, 5),
 ('SoRu38915', 1, 'SoRu38915', 26133, 1),
 ('KiRu26032', 0, 'KiRu26032', 12342, 0),
 ('KiRu25619', 3, 'KiRu25619', 48832, 3),
 ('KiIs23853', 2, 'KiIs23853', 55796, 10),
 ('AkHa00172', 2, 'AkHa00172', 41191, 2),
 ('KiRu27927', 3, 'KiRu27927', 33105, 3),
 ('KiRu28045', 2, 'KiRu28045', 16862, 2),
 ('KiRu29614', 1, 'KiRu29614', 51573, 1),
 ('KiRu25484', 1, 'KiRu25484', 20447, 1),
 ('AkRu04989', 1, 'AkRu04989', 34369, 1),
 ('AkKi01455', 3, 'AkKi01455', 16750, 3),
 ('SoIl33047', 2, 'SoIl33047', 45984, 2),
 ('SoCh32025', 0, 'SoCh32025', 14252, 0),
 ('KiRu28089', 0, 'KiRu28089', 9134, 0),
 ('AkRu07622', 2, 'AkRu07622', 18841, 2),
 ('KiRu29909', 1, 'KiRu29909', 28639, 1),
 ('AmBe11266', 9, 'AmBe11266', 6032, 9),
 ('AkRu03475', 1, 'AkRu03475', 33630, 10),
 ('KiRu26934', 2, 'KiRu26934', 44733, 2),
 ('SoRu35691', 5, 'SoRu35691', 13341, 5),
 ('SoMa34148', 2, 'SoMa34148', 50300, 2),
 ('AmRu15860', 1, 'AmRu15860', 46070, 1),
 ('SoRu38125', 5, 'SoRu38125', 26141, 5),
 ('AkLu02637', 9, 'AkLu02637', 13812, 9),
 ('KiIs24083', 2, 'KiIs24083', 28404, 10),
 ('SoRu35824', 1, 'SoRu35824', 28362, 1),
 ('KiRu27806', 0, 'KiRu27806', 42076, 0),
 ('AkRu03182', 3, 'AkRu03182', 13651, 3),
 ('AkHa00088', 1, 'AkHa00088', 12774, 1),
 ('SoRu36828', 2, 'SoRu36828', 5668, 2),
 ('AkLu02438', 9, 'AkLu02438', 24429, 9),
 ('SoRu38250', 6, 'SoRu38250', 21140, 6),
 ('AkHa00613', 3, 'AkHa00613', 20924, 3),
 ('KiMr25005', 0, 'KiMr25005', 58102, 0),
 ('AkRu04428', 3, 'AkRu04428', 9203, 3),
 ('SoRu35103', 5, 'SoRu35103', 44051, 5),
 ('SoRu36975', 0, 'SoRu36975', 26255, 0),
 ('AkHa00662', 2, 'AkHa00662', 52082, 2),
 ('SoCh31985', 3, 'SoCh31985', 37231, 3),
 ('AmAm09631', 9, 'AmAm09631', 14211, 10),
 ('SoRu37129', 0, 'SoRu37129', 31642, 0),
 ('SoRu38416', 3, 'SoRu38416', 49607, 3),
 ('AkRu02670', 2, 'AkRu02670', 8346, 2),
 ('AkHa00487', 3, 'AkHa00487', 14442, 3),
 ('SoRu36186', 0, 'SoRu36186', 16286, 0),
 ('AkRu03649', 2, 'AkRu03649', 4101, 2),
 ('KiRu30343', 2, 'KiRu30343', 51075, 10),
 ('AmRu13668', 9, 'AmRu13668', 10586, 10),
 ('SoMa34044', 0, 'SoMa34044', 20902, 0),
 ('AmRu14531', 9, 'AmRu14531', 13172, 9),
 ('SoRu37317', 2, 'SoRu37317', 50347, 2),
 ('KiIs23613', 6, 'KiIs23613', 3093, 6),
 ('SoRu39288', 0, 'SoRu39288', 13409, 0),
 ('AkRu07820', 3, 'AkRu07820', 34009, 3),
 ('AkRu07774', 3, 'AkRu07774', 24774, 3),
 ('SoBa31691', 0, 'SoBa31691', 3267, 10),
 ('SoRu36385', 2, 'SoRu36385', 54896, 2),
 ('KiIs24054', 9, 'KiIs24054', 21978, 9),
 ('KiRu29129', 1, 'KiRu29129', 32520, 1),
 ('KiHa23042', 1, 'KiHa23042', 54900, 1),
 ('AkHa00459', 1, 'AkHa00459', 39863, 1),
 ('SoBa31659', 3, 'SoBa31659', 17354, 3),
 ('KiRu30394', 4, 'KiRu30394', 6624, 4),
 ('SoKo33111', 1, 'SoKo33111', 19195, 1),
 ('AkRu03429', 3, 'AkRu03429', 17142, 3),
 ('KiRu26860', 0, 'KiRu26860', 24912, 0),
 ('KiAm22303', 9, 'KiAm22303', 56325, 9),
 ('HaRu18493', 3, 'HaRu18493', 25264, 3),
 ('HaRu18608', 1, 'HaRu18608', 4779, 1),
 ('SoRu35964', 2, 'SoRu35964', 58643, 2),
 ('KiMr24872', 2, 'KiMr24872', 47577, 2),
 ('KiAm22458', 2, 'KiAm22458', 672, 2),
 ('AkRu05603', 3, 'AkRu05603', 54483, 3),
 ('HaRu20851', 9, 'HaRu20851', 56353, 9),
 ('KiRu25343', 1, 'KiRu25343', 41757, 1),
 ('SoRu36816', 3, 'SoRu36816', 57218, 3),
 ('HaRu20840', 3, 'HaRu20840', 43798, 3),
 ('SoRu38966', 5, 'SoRu38966', 3240, 5),
 ('SoRu37494', 9, 'SoRu37494', 17009, 9),
 ('HaRu19176', 1, 'HaRu19176', 25331, 1),
 ('AmBe11175', 3, 'AmBe11175', 22982, 3),
 ('HaDe16360', 1, 'HaDe16360', 19732, 1),
 ('AmBe11054', 9, 'AmBe11054', 8225, 9),
 ('AkRu08460', 2, 'AkRu08460', 59776, 2),
 ('SoKo33124', 3, 'SoKo33124', 2006, 3),
 ('AkKi01211', 3, 'AkKi01211', 16824, 3),
 ('SoIl32445', 2, 'SoIl32445', 25386, 2),
 ('AmRu13532', 9, 'AmRu13532', 39886, 9),
 ('SoRu36142', 1, 'SoRu36142', 7542, 1),
 ('AkRu05020', 3, 'AkRu05020', 4291, 3),
 ('HaRu18730', 1, 'HaRu18730', 34773, 1),
 ('KiRu25527', 2, 'KiRu25527', 30088, 2),
 ('AkRu05442', 3, 'AkRu05442', 59724, 3),
 ('AkRu05207', 3, 'AkRu05207', 53713, 3),
 ('AmAm09844', 9, 'AmAm09844', 39550, 9),
 ('AkRu04217', 3, 'AkRu04217', 18145, 3),
 ('SoRu38733', 5, 'SoRu38733', 16689, 5),
 ('SoBa31655', 9, 'SoBa31655', 5710, 9),
 ('SoRu37392', 4, 'SoRu37392', 17821, 4),
 ('AkKi01238', 3, 'AkKi01238', 15839, 3),
 ('AmRu14527', 3, 'AmRu14527', 36952, 3),
 ('KiRu26502', 3, 'KiRu26502', 9396, 3),
 ('AkRu06339', 0, 'AkRu06339', 28338, 0),
 ('SoRu37920', 0, 'SoRu37920', 42676, 0),
 ('AkRu02682', 2, 'AkRu02682', 26484, 2),
 ('AmBe10969', 3, 'AmBe10969', 39852, 3),
 ('AkRu08755', 3, 'AkRu08755', 19813, 3),
 ('KiRu30051', 2, 'KiRu30051', 13174, 2),
 ('HaRu19054', 2, 'HaRu19054', 314, 2),
 ('HaRu17182', 1, 'HaRu17182', 26851, 1),
 ('AmBe11275', 3, 'AmBe11275', 26263, 3),
 ('HaRu19036', 2, 'HaRu19036', 52668, 2),
 ('KiMr24348', 2, 'KiMr24348', 40090, 2),
 ('AmPw12550', 9, 'AmPw12550', 28247, 9),
 ('HaRu20299', 2, 'HaRu20299', 43586, 2),
 ('KiRu29119', 1, 'KiRu29119', 25652, 1),
 ('AkRu03116', 3, 'AkRu03116', 32365, 3),
 ('SoRu35393', 1, 'SoRu35393', 23001, 1),
 ('AkLu02173', 1, 'AkLu02173', 27091, 1),
 ('AkRu08283', 3, 'AkRu08283', 45092, 3),
 ('KiRu28782', 3, 'KiRu28782', 58809, 3),
 ('AmAs10095', 3, 'AmAs10095', 46365, 3),
 ('KiRu29980', 1, 'KiRu29980', 5321, 1),
 ('KiRu25770', 3, 'KiRu25770', 37346, 3),
 ('AmRu15634', 3, 'AmRu15634', 24374, 3),
 ('AkRu07742', 2, 'AkRu07742', 3469, 2),
 ('KiRu28806', 1, 'KiRu28806', 26429, 1),
 ('AmAs10011', 9, 'AmAs10011', 44726, 9),
 ('KiMr25056', 1, 'KiMr25056', 36815, 1),
 ('HaDj16864', 1, 'HaDj16864', 25972, 1),
 ('AkRu04116', 3, 'AkRu04116', 53182, 10),
 ('AmPw12272', 9, 'AmPw12272', 50239, 10),
 ('HaRu18271', 1, 'HaRu18271', 14781, 1),
 ('HaAm16293', 3, 'HaAm16293', 55255, 3),
 ('KiRu27852', 2, 'KiRu27852', 30754, 2),
 ('AmAs10552', 9, 'AmAs10552', 16840, 9),
 ('HaAm16112', 2, 'HaAm16112', 15506, 2),
 ('KiZu30983', 3, 'KiZu30983', 5702, 3),
 ('SoRu37524', 3, 'SoRu37524', 59640, 10),
 ('HaYa21356', 2, 'HaYa21356', 36919, 2),
 ('AkRu03754', 3, 'AkRu03754', 6493, 3),
 ('SoMa34566', 2, 'SoMa34566', 39478, 2),
 ('AmRu15394', 1, 'AmRu15394', 15192, 1),
 ('HaRu19917', 9, 'HaRu19917', 53947, 9),
 ('SoRu35762', 1, 'SoRu35762', 47342, 1),
 ('AmAm09806', 9, 'AmAm09806', 41269, 9),
 ('AmAm09566', 9, 'AmAm09566', 37437, 9),
 ('KiRu27527', 2, 'KiRu27527', 30396, 2),
 ('SoRu36079', 0, 'SoRu36079', 41487, 0),
 ('AkLu02420', 2, 'AkLu02420', 46052, 2),
 ('SoRu38360', 0, 'SoRu38360', 30990, 0),
 ('KiIs23815', 2, 'KiIs23815', 15619, 2),
 ('AmRu14691', 2, 'AmRu14691', 40443, 10),
 ('AkLu01944', 3, 'AkLu01944', 29104, 3),
 ('SoBa31866', 1, 'SoBa31866', 15628, 1),
 ('AkRu05799', 3, 'AkRu05799', 53738, 3),
 ('KiRu26647', 1, 'KiRu26647', 31416, 1),
 ('AmRu14452', 3, 'AmRu14452', 3138, 3),
 ('AkRu03095', 3, 'AkRu03095', 59212, 3),
 ('SoRu37072', 1, 'SoRu37072', 34917, 1),
 ('SoBa31473', 2, 'SoBa31473', 18821, 2),
 ('SoRu35606', 3, 'SoRu35606', 3368, 3),
 ('KiRu28515', 2, 'KiRu28515', 48699, 2),
 ('KiMr24897', 9, 'KiMr24897', 17117, 9),
 ('AkRu03657', 2, 'AkRu03657', 56435, 2),
 ('KiRu29556', 2, 'KiRu29556', 5645, 10),
 ('AmAs10840', 9, 'AmAs10840', 9908, 9),
 ('SoRu37224', 2, 'SoRu37224', 30665, 2),
 ('HaRu20820', 2, 'HaRu20820', 43257, 2),
 ('KiIs23717', 3, 'KiIs23717', 18330, 3),
 ('HaRu18196', 1, 'HaRu18196', 51823, 1),
 ('KiRu28445', 1, 'KiRu28445', 9213, 1),
 ('AkRu04790', 9, 'AkRu04790', 2023, 9),
 ('AkLu01749', 3, 'AkLu01749', 37485, 3),
 ('SoRu35924', 2, 'SoRu35924', 36027, 2),
 ('KiRu27827', 2, 'KiRu27827', 48940, 2),
 ('AmRu13018', 5, 'AmRu13018', 34248, 5),
 ('SoRu36421', 0, 'SoRu36421', 20600, 0),
 ('KiRu28584', 1, 'KiRu28584', 52713, 1),
 ('KiRu29073', 2, 'KiRu29073', 28511, 2),
 ('AkHa00593', 2, 'AkHa00593', 29731, 2),
 ('AkKi01372', 3, 'AkKi01372', 49534, 3),
 ('AkLu02206', 3, 'AkLu02206', 4533, 3),
 ('AkRu08105', 2, 'AkRu08105', 25512, 2),
 ('AkRu04781', 2, 'AkRu04781', 56179, 2),
 ('KiRu27348', 1, 'KiRu27348', 56646, 1),
 ('AkRu07358', 3, 'AkRu07358', 50252, 3),
 ('SoRu35645', 3, 'SoRu35645', 17917, 3),
 ('HaDj16729', 1, 'HaDj16729', 44405, 1),
 ('AmAm09422', 9, 'AmAm09422', 28365, 9),
 ('KiRu28871', 9, 'KiRu28871', 46572, 9),
 ('SoKo33489', 2, 'SoKo33489', 21867, 2),
 ('KiIs24061', 2, 'KiIs24061', 42529, 2),
 ('SoRu36514', 6, 'SoRu36514', 33109, 6),
 ('SoRu38062', 0, 'SoRu38062', 55400, 0),
 ('AkRu04644', 3, 'AkRu04644', 51404, 3),
 ('AkRu07669', 2, 'AkRu07669', 6875, 2),
 ('KiMr24651', 3, 'KiMr24651', 54735, 3),
 ('SoRu35689', 0, 'SoRu35689', 44968, 0),
 ('KiZu31427', 9, 'KiZu31427', 22019, 9),
 ('KiMr24677', 1, 'KiMr24677', 57585, 1),
 ('KiZu30847', 9, 'KiZu30847', 57038, 10),
 ('HaRu17145', 1, 'HaRu17145', 58460, 1),
 ('SoKo33450', 2, 'SoKo33450', 52145, 2),
 ('AkRu06471', 2, 'AkRu06471', 22708, 2),
 ('AkRu03909', 6, 'AkRu03909', 48225, 6),
 ('SoRu38054', 0, 'SoRu38054', 36448, 0),
 ('KiZu30933', 0, 'KiZu30933', 10930, 0),
 ('AmRu15659', 3, 'AmRu15659', 21540, 3),
 ('AkRu04196', 1, 'AkRu04196', 6317, 1),
 ('HaRu17171', 3, 'HaRu17171', 56405, 3),
 ('KiZu31286', 5, 'KiZu31286', 58243, 5),
 ('KiRu27045', 9, 'KiRu27045', 25122, 9),
 ('AkRu07822', 2, 'AkRu07822', 38982, 2),
 ('SoRu38801', 5, 'SoRu38801', 30299, 5),
 ('AkRu05622', 2, 'AkRu05622', 37033, 2),
 ('AmRu13368', 3, 'AmRu13368', 59978, 3),
 ('KiRu29197', 2, 'KiRu29197', 3862, 2),
 ('KiHa22987', 2, 'KiHa22987', 51906, 2),
 ('AmAb09209', 0, 'AmAb09209', 2528, 0),
 ('SoRu35737', 1, 'SoRu35737', 12880, 1),
 ('HaRu20358', 1, 'HaRu20358', 32243, 1),
 ('SoRu38427', 0, 'SoRu38427', 27985, 0),
 ('SoRu39385', 2, 'SoRu39385', 26100, 2),
 ('KiAm22078', 3, 'KiAm22078', 14154, 3),
 ('HaRu18624', 2, 'HaRu18624', 571, 2),
 ('AkLu01620', 3, 'AkLu01620', 52324, 3),
 ('SoRu39442', 0, 'SoRu39442', 40218, 0),
 ('AmBe11161', 3, 'AmBe11161', 16638, 3),
 ('AkHa00363', 0, 'AkHa00363', 25387, 10),
 ('SoRu36982', 9, 'SoRu36982', 59694, 9),
 ('KiRu29202', 3, 'KiRu29202', 42496, 3),
 ('KiRu30289', 1, 'KiRu30289', 2112, 1),
 ('HaDj16691', 3, 'HaDj16691', 43418, 3),
 ('SoRu35904', 0, 'SoRu35904', 11602, 0),
 ('AkRu07627', 7, 'AkRu07627', 38984, 7),
 ('AkRu06941', 9, 'AkRu06941', 12025, 9),
 ('SoMa33925', 1, 'SoMa33925', 40620, 1),
 ('KiAm22052', 3, 'KiAm22052', 25833, 3),
 ('SoRu37929', 0, 'SoRu37929', 52815, 0),
 ('HaRu19467', 1, 'HaRu19467', 5732, 1),
 ('HaRu19164', 1, 'HaRu19164', 51451, 1),
 ('HaRu18836', 9, 'HaRu18836', 58049, 9),
 ('SoRu38150', 9, 'SoRu38150', 57491, 9),
 ('AmAm09853', 9, 'AmAm09853', 41120, 9),
 ('SoRu38947', 2, 'SoRu38947', 30376, 2),
 ('AmDa11683', 4, 'AmDa11683', 44700, 4),
 ('SoBa31761', 2, 'SoBa31761', 3296, 10),
 ('AmRu14207', 1, 'AmRu14207', 32491, 1),
 ('HaZa21638', 1, 'HaZa21638', 12606, 1),
 ('KiRu30052', 2, 'KiRu30052', 45489, 2),
 ('KiRu26263', 9, 'KiRu26263', 30172, 9),
 ('AmAb08975', 9, 'AmAb08975', 25976, 9),
 ('SoRu38924', 9, 'SoRu38924', 14792, 9),
 ('KiRu26698', 9, 'KiRu26698', 32554, 9),
 ('KiRu26909', 3, 'KiRu26909', 48857, 3),
 ('SoCh32037', 0, 'SoCh32037', 17084, 0),
 ('SoMa33775', 0, 'SoMa33775', 9767, 0),
 ('HaRu20481', 2, 'HaRu20481', 43336, 2),
 ('KiRu29745', 2, 'KiRu29745', 47317, 2),
 ('KiRu29612', 2, 'KiRu29612', 2867, 2),
 ('AmRu13754', 9, 'AmRu13754', 35709, 9),
 ('SoRu35482', 0, 'SoRu35482', 26148, 0),
 ('HaRu17297', 9, 'HaRu17297', 15430, 9),
 ('SoKo33094', 0, 'SoKo33094', 16159, 10),
 ('AkRu03158', 9, 'AkRu03158', 48151, 9),
 ('AkRu06069', 7, 'AkRu06069', 33352, 7),
 ('KiRu26010', 1, 'KiRu26010', 17435, 1),
 ('KiRu28019', 2, 'KiRu28019', 1195, 2),
 ('KiRu30518', 3, 'KiRu30518', 41822, 3),
 ('AkRu07026', 9, 'AkRu07026', 38714, 9),
 ('KiRu26412', 0, 'KiRu26412', 52839, 0),
 ('SoRu35634', 3, 'SoRu35634', 19157, 3),
 ('AkHa00746', 1, 'AkHa00746', 21385, 1),
 ('SoIl33036', 1, 'SoIl33036', 43651, 1),
 ('AkRu06836', 1, 'AkRu06836', 40555, 1),
 ('HaRu19773', 9, 'HaRu19773', 50727, 9),
 ('KiMr24471', 0, 'KiMr24471', 21173, 0),
 ('KiRu28420', 1, 'KiRu28420', 58254, 1),
 ('AkRu07739', 3, 'AkRu07739', 17453, 3),
 ('KiRu27252', 2, 'KiRu27252', 51552, 2),
 ('KiIs23560', 1, 'KiIs23560', 42504, 1),
 ('KiRu25537', 3, 'KiRu25537', 38191, 3),
 ('KiHa23219', 2, 'KiHa23219', 36052, 2),
 ('AkLu02008', 0, 'AkLu02008', 56663, 0),
 ('SoMa34421', 3, 'SoMa34421', 30111, 3),
 ('SoRu37753', 2, 'SoRu37753', 31486, 2),
 ('AmPw12576', 7, 'AmPw12576', 9330, 7),
 ('AmRu13851', 3, 'AmRu13851', 16435, 3),
 ('KiMr24804', 5, 'KiMr24804', 32189, 5),
 ('AmAm09946', 9, 'AmAm09946', 6947, 9),
 ('KiAm22279', 3, 'KiAm22279', 53988, 3),
 ('AkRu03992', 2, 'AkRu03992', 39531, 2),
 ('AmRu14758', 9, 'AmRu14758', 54230, 9),
 ('AmRu13619', 9, 'AmRu13619', 21143, 9),
 ('AmAm09492', 9, 'AmAm09492', 29419, 9),
 ('AkRu08500', 3, 'AkRu08500', 57702, 3),
 ('HaRu18780', 1, 'HaRu18780', 21375, 1),
 ('SoRu38398', 3, 'SoRu38398', 31256, 3),
 ('AmAm09540', 0, 'AmAm09540', 6674, 0),
 ('AkLu02114', 3, 'AkLu02114', 25130, 3),
 ('AmBe11296', 3, 'AmBe11296', 30535, 3),
 ('AkRu05627', 7, 'AkRu05627', 17619, 7),
 ('AkKi01158', 3, 'AkKi01158', 46022, 3),
 ('KiRu30069', 3, 'KiRu30069', 27180, 3),
 ('AmAm09774', 9, 'AmAm09774', 19982, 9),
 ('HaRu19731', 3, 'HaRu19731', 17066, 3),
 ('AkRu07991', 2, 'AkRu07991', 8013, 2),
 ('HaZa21811', 1, 'HaZa21811', 5954, 1),
 ('AmPw12299', 9, 'AmPw12299', 7643, 9),
 ('HaRu17417', 2, 'HaRu17417', 3105, 2),
 ('AmRu12818', 3, 'AmRu12818', 27250, 3),
 ('HaSe21323', 3, 'HaSe21323', 26260, 10),
 ('AmAm09730', 9, 'AmAm09730', 54871, 9),
 ('HaAm16072', 2, 'HaAm16072', 16938, 2),
 ('KiAm22564', 0, 'KiAm22564', 855, 0),
 ('AkRu04359', 3, 'AkRu04359', 37376, 3),
 ('AmRu14130', 2, 'AmRu14130', 33897, 2),
 ('AmPw12685', 3, 'AmPw12685', 42213, 3),
 ('AmDa11466', 1, 'AmDa11466', 17086, 10),
 ('KiIs23737', 9, 'KiIs23737', 26455, 9),
 ('AkRu05675', 3, 'AkRu05675', 37439, 3),
 ('KiRu27273', 3, 'KiRu27273', 586, 3),
 ('KiZu31183', 9, 'KiZu31183', 878, 9),

So, to do this, we need to grab the type_of_water_source column from the water_source table and call it survey_source, using the
source_id column to JOIN. Also select the type_of_water_source from the auditor_report table, and call it auditor_source.

### To detect actual errors or mismatches, we can take it one step further:

In [58]:
%%sql
SELECT 
    a.location_id,
    COUNT(DISTINCT ws.type_of_water_source) AS unique_source_types
FROM md_water_services.auditor_report AS a
LEFT JOIN md_water_services.visits AS v
       ON a.location_id = v.location_id
JOIN md_water_services.water_source AS ws
       ON v.source_id = ws.source_id
WHERE v.visit_count = 1
GROUP BY a.location_id
HAVING unique_source_types > 1
LIMIT 10000;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [74]:
%%sql
WITH Incorrect_records AS (
    SELECT 
        a.location_id,
        a.type_of_water_source AS auditor_source,
        ws.type_of_water_source AS surveyor_source,
        v.visit_count
    FROM md_water_services.auditor_report AS a
    LEFT JOIN md_water_services.visits AS v
           ON a.location_id = v.location_id
    JOIN md_water_services.water_source AS ws
           ON v.source_id = ws.source_id
    WHERE v.visit_count = 1
)
SELECT *
FROM Incorrect_records
limit 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoRu34980', 'well', 'well', 1),
 ('AkRu08112', 'well', 'well', 1),
 ('AkLu02044', 'river', 'river', 1),
 ('AkHa00421', 'well', 'well', 1),
 ('SoRu35221', 'river', 'river', 1)]

### Get a unique list of employees

In [75]:
%%sql
WITH Incorrect_records AS (
    SELECT
        auditor_report.location_id,
        visits.record_id,
        emp.employee_name,
        auditor_report.true_water_source_score AS auditor_score,
        wq.subjective_quality_score AS surveyor_score,
        auditor_report.statements
    FROM auditor_report
    JOIN visits
        ON auditor_report.location_id = visits.location_id
    JOIN water_quality wq
        ON visits.record_id = wq.record_id
    JOIN employee emp
        ON emp.assigned_employee_id = visits.assigned_employee_id
    WHERE visits.visit_count = 1
      AND auditor_report.true_water_source_score != wq.subjective_quality_score
),
Unique_employees AS (
    SELECT DISTINCT employee_name
    FROM Incorrect_records
)
SELECT *
FROM Unique_employees
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Rudo Imani',),
 ('Bello Azibo',),
 ('Zuriel Matembo',),
 ('Yewande Ebele',),
 ('Jengo Tumaini',)]

## Count the number of mistakes

In [67]:
%%sql
WITH Incorrect_records AS (
    SELECT
        auditor_report.location_id,
        visits.record_id,
        emp.employee_name,
        auditor_report.true_water_source_score AS auditor_score,
        wq.subjective_quality_score AS surveyor_score,
        auditor_report.statements
    FROM auditor_report
    JOIN visits
        ON auditor_report.location_id = visits.location_id
    JOIN water_quality wq
        ON visits.record_id = wq.record_id
    JOIN employee emp
        ON emp.assigned_employee_id = visits.assigned_employee_id
    WHERE visits.visit_count = 1
      AND auditor_report.true_water_source_score != wq.subjective_quality_score
),
error_count AS (
    SELECT
        employee_name,
        COUNT(*) AS number_of_mistakes
    FROM Incorrect_records
    GROUP BY employee_name
)
SELECT *
FROM error_count
ORDER BY number_of_mistakes DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Bello Azibo', 26),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17),
 ('Lalitha Kaburi', 7),
 ('Rudo Imani', 5)]

### Save Incorrect_records as a VIEW

In [68]:
%%sql
CREATE OR REPLACE VIEW Incorrect_records AS
SELECT
    auditor_report.location_id,
    visits.record_id,
    emp.employee_name,
    auditor_report.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score,
    auditor_report.statements
FROM auditor_report
JOIN visits
    ON auditor_report.location_id = visits.location_id
JOIN water_quality wq
    ON visits.record_id = wq.record_id
JOIN employee emp
    ON emp.assigned_employee_id = visits.assigned_employee_id
WHERE visits.visit_count = 1
  AND auditor_report.true_water_source_score != wq.subjective_quality_score;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

## Count mistakes per employee (error_count)

In [71]:
%%sql
WITH error_count AS (
    SELECT
        employee_name,
        COUNT(*) AS number_of_mistakes
    FROM Incorrect_records
    GROUP BY employee_name
)
SELECT * 
FROM error_count
ORDER BY number_of_mistakes DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Bello Azibo', 26),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17),
 ('Lalitha Kaburi', 7),
 ('Rudo Imani', 5)]

## Find the average mistakes

In [73]:
%%sql
WITH error_count AS (
    SELECT
        employee_name,
        COUNT(*) AS number_of_mistakes
    FROM Incorrect_records
    GROUP BY employee_name
)
SELECT AVG(number_of_mistakes) AS avg_error_count_per_empl
FROM error_count;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(Decimal('6.0000'),)]

### Identify suspect employees (above average)

In [76]:
%%sql
WITH error_count AS (
    SELECT
        employee_name,
        COUNT(*) AS number_of_mistakes
    FROM Incorrect_records
    GROUP BY employee_name
),
suspect_list AS (
    SELECT
        employee_name,
        number_of_mistakes
    FROM error_count
    WHERE number_of_mistakes > (SELECT AVG(number_of_mistakes) FROM error_count)
)
SELECT * 
FROM suspect_list
ORDER BY number_of_mistakes DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[('Bello Azibo', 26),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17),
 ('Lalitha Kaburi', 7)]

### Create a view of all mismatched records between auditors and surveyors

In [77]:
%%sql
CREATE OR REPLACE VIEW Incorrect_records AS
SELECT
    auditor_report.location_id,
    visits.record_id,
    emp.employee_name,
    auditor_report.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score,
    auditor_report.statements
FROM auditor_report
JOIN visits
    ON auditor_report.location_id = visits.location_id
JOIN water_quality wq
    ON visits.record_id = wq.record_id
JOIN employee emp
    ON emp.assigned_employee_id = visits.assigned_employee_id
WHERE visits.visit_count = 1
  AND auditor_report.true_water_source_score != wq.subjective_quality_score;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

## we now extend the error_count CTE and calculate the average number of mistakes, then use it as a filter to find employees above that threshold.

In [79]:
%%sql
WITH error_count AS (
    SELECT
        employee_name,
        COUNT(*) AS number_of_mistakes
    FROM Incorrect_records
    GROUP BY employee_name
)
# select employees above the average number of mistakes
SELECT
    employee_name,
    number_of_mistakes
FROM error_count
WHERE number_of_mistakes > (SELECT AVG(number_of_mistakes) FROM error_count)
ORDER BY number_of_mistakes DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[('Bello Azibo', 26),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17),
 ('Lalitha Kaburi', 7)]

## Filter Incorrect_records to only show the suspects’ records, including their statements.

In [84]:
%%sql
WITH error_count AS (
    SELECT
        employee_name,
        COUNT(*) AS number_of_mistakes
    FROM Incorrect_records
    GROUP BY employee_name
),

-- Step 2: suspect_list = employees with above-average mistakes
suspect_list AS (
    SELECT
        employee_name,
        number_of_mistakes
    FROM error_count
    WHERE number_of_mistakes > (SELECT AVG(number_of_mistakes) FROM error_count)
)

-- Step 3: Pull all mismatched records (with statements) for suspects
SELECT
    ir.employee_name,
    ir.location_id,
    ir.auditor_score,
    ir.surveyor_score,
    ir.statements
FROM Incorrect_records ir
WHERE ir.employee_name IN (SELECT employee_name FROM suspect_list)
ORDER BY ir.employee_name, ir.location_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Bello Azibo', 'AkHa00363', 0, 10, "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('Bello Azibo', 'AkLu02500', 3, 10, "A tour guide's enthusiasm is dampened by the water situation, his own wait in line a daily challenge."),
 ('Bello Azibo', 'AkRu03848', 3, 10, "A local tailor's creativity is stifled by frustration, his work impacted by the corruption that taints the water."),
 ('Bello Azibo', 'AkRu04508', 1, 10, 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Bello Azibo', 'AkRu05741', 3, 10, 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('Bello Azibo', 'AkRu06495', 2, 10, 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.","'),
 ('Bello Azibo', 'AmRu14364', 2, 10, "A local musician's songs of joy are replaced with melodies of despair, inspired by the corrupt who control the water."),
 ('Bello Azibo', 'AmRu14691', 2, 10, "An artisan's creative mind is stifled by the wait, thoughts of craft overshadowed by concern for water quality."),
 ('Bello Azibo', 'AmRu14842', 2, 10, "An elderly woman's weary eyes reflect the toll of daily hours spent in the queue, her thoughts on family back home."),
 ('Bello Azibo', 'AmRu14887', 9, 10, 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.')]

## Filter suspect records mentioning “cash”

In [85]:
%%sql
WITH error_count AS ( -- Count mistakes per employee
    SELECT
        employee_name,
        COUNT(*) AS number_of_mistakes
    FROM Incorrect_records
    GROUP BY employee_name
),
suspect_list AS ( -- Employees with above-average mistakes
    SELECT
        employee_name,
        number_of_mistakes
    FROM error_count
    WHERE number_of_mistakes > (SELECT AVG(number_of_mistakes) FROM error_count)
)
-- Now filter records where statements mention "cash"
SELECT
    ir.employee_name,
    ir.location_id,
    ir.statements
FROM Incorrect_records ir
WHERE ir.employee_name IN (SELECT employee_name FROM suspect_list)
  AND ir.statements LIKE '%cash%'
ORDER BY ir.employee_name, ir.location_id;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
19 rows affected.

[('Bello Azibo', 'AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Bello Azibo', 'AkRu05741', 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('Bello Azibo', 'AmRu14887', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Bello Azibo', 'HaSe21323', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Bello Azibo', 'KiIs23853', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception."),
 ('Bello Azibo', 'KiMr24919', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Bello Azibo', 'KiRu27065', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Bello Azibo', 'KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns."),
 ('Lalitha Kaburi', 'AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('Lalitha Kaburi', 'KiRu29329', "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives."),
 ('Malachi Mavuso', 'AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Malachi Mavuso', 'AmAm09956', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Malachi Mavuso', 'AmRu15719', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'KiRu25347', 'Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.'),
 ('Zuriel Matembo', 'AkRu05880', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism."),
 ('Zuriel Matembo', 'HaRu20146', "An air of mistrust hung heavy as villagers described an official's aloof behavior and potential impropriety. The whisper of cash exchanges only fueled their apprehension."),
 ('Zuriel Matembo', 'HaSe20888', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Zuriel Matembo', 'SoIl32575', 'Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust.'),
 ('Zuriel Matembo', 'SoRu38331', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.')]

### Double-check: are there any non-suspects accused of “cash”?

In [83]:
%%sql
WITH error_count AS (
    SELECT
        employee_name,
        COUNT(*) AS number_of_mistakes
    FROM Incorrect_records
    GROUP BY employee_name
),
suspect_list AS (
    SELECT
        employee_name
    FROM error_count
    WHERE number_of_mistakes > (SELECT AVG(number_of_mistakes) FROM error_count)
)
SELECT
    ir.employee_name,
    ir.location_id,
    ir.statements
FROM Incorrect_records ir
WHERE ir.employee_name NOT IN (SELECT employee_name FROM suspect_list)
  AND ir.statements LIKE '%cash%';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]